@import "/Users/onigoetz/Sites/Library/daux.io/themes/daux/scss/theme.scss";

//Daux.io Swissquote Theme
:root {
    --primary-color: #fa5b35;
    --primary-color-light: color(var(--primary-color) blend(#ddd 20%));
    --primary-color-lighter: color(var(--primary-color) blend(#fff 30%));

    --sidebar-background: #f7f7f7;
    --sidebar-link-active-background: var(--lighter-gray);
    --dark: var(--primary-color);
    --light: var(--primary-color-lighter);

    --link-color: var(--primary-color);
    --homepage-hero-background: var(--primary-color-lighter);
    --homepage-hero-color: #fff;
    --hero-button-block-background: var(--lighter-gray);

    --homepage-navbar-background: #fff;
    --brand-color: var(--primary-color);
    --brand-background: #fff;

    --homepage-footer-color: var(--dark);
    --homepage-footer-background: var(--lightest-gray);

    --border-radius: 6px;
}

.Brand {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

@media(--viewport-large) {
    .Brand {
        text-align: center;
    }
}

.Navbar .Brand {
    box-shadow: none;
    float: none;
}

.HomepageTitle {
    padding: 60px 0;
}

.Page__header {
    border-bottom-width: 0;
}

@media screen and (max-width: 768px) {
    .Columns__left {
        border-bottom: 1px solid var(--lighter-gray);
    }
}

.Columns__right--full {
    .TableOfContentsContainer {
        color: var(--dark-gray);
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: var(--border-radius);
        padding: 0 !important;
        margin-bottom: 1em;

        @media (--viewport-large) {
            position: relative;
            float: right;
            width: 40%;
            max-width: 30rem;
            margin-left: 2rem;
            z-index: 10;
        }

        &__title {
            margin: 0 !important;
            padding: 0.5rem 1rem;
            font-weight: bold;
            color: #fff;
            font-family: var(--font-family-text);
            font-size: var(--type-size-5);
            background: var(--primary-color-light);
            border-bottom-width: 0;
            border-top-left-radius: calc(var(--border-radius) - 1px);
            border-top-right-radius: calc(var(--border-radius) - 1px);
        }
    }

    .TableOfContents {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        font-size: 0.8rem;
        border-width: 0 !important;

        p {
            margin: 0 !important;
        }

        a {
            padding: 0.5rem 1rem;
            color: var(--dark-gray);
            font-weight: bold;
            border-bottom-color: var(--lightest-gray);
        }

        a:hover {
            color: #000;
            background: var(--lightest-gray);
            text-decoration: underline;
        }

        li {
            margin-bottom: 0;
        }

        li .TableOfContents > li a {
            border-bottom: none;
            padding: 0.5rem 1rem 0.5rem 2rem;
            font-weight: normal;
        }
    }
}

.Search__field {
    border-top: 1px solid var(--search-field-border-color);
}

.SearchResults .Search__field {
    border-top-width: 0;
}

.Navbar .Container {
    position: relative;
}

.Navbar .Search {
    position: absolute;
    top: 0;
    right: 0;

    &__field {
        border: 1px solid var(--lighter-gray);
    }
}
